<!DOCTYPE html>
<htmL>
    <head>
        <title>Register</title>
    </head>
    <body>
        {% block body %}
            <h1>Register</h1>

            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
            {{ form_end(form) }}
        {% endblock %}
    </body>
</htmL>
