{% extends '@ConnecthollandUser/base.html.twig' %}

{% trans_default_domain 'ConnecthollandUserBundle' %}

{% block connectholland_user_content %}
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn">{{ 'connectholland_user.registration.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
